.body {
  width: 100%;
}

.App {
  display: block;
  width: 500px;
  padding-bottom: 10px;
  margin: 50px auto auto auto;
  border-radius: 10px;
  box-shadow: 0 0 50px gray;
  background-color: #dcdcdc;
}

.formInput {
  display: block;
  width: 450px;
  height: 25px;
  font-size: 20px;
  margin: 10px auto auto auto;
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: #dcdcdc;
}

.editTaskInput {
  display: block;
  width: 400px;
  height: 25px;
  font-size: 20px;
  padding: 5px;
  outline: none;
  border: none;
  color: rgb(117, 0, 117);
  border-bottom: 1px solid black;
  background-color: #dcdcdc;
}

.todoHeader {
  text-align: center;
  font-size: 30px;
  color: gray;
}

.active {
  height: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.active:hover {
  background-color: #dcdcdc;
}

.completed {
  height: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  background-color: #c0c0c0;
}

.completed .textArea {
  text-decoration: line-through;
  background-color: #c0c0c0;
}

.App .remSpan {
  display: block;
  float: right;
  height: 20px;
  width: 20px;
  margin: auto 10px auto auto;
  stroke-opacity: 0.25;
  cursor: pointer;
}

.removeAll {
  border: none;
  border-radius: 5px;
  background-color: #dcdcdc;
  margin: 5px 5px auto 5px;
  outline: none;
  font-size: 20px;
  width: 190px;
  padding: 5px;
}
.removeAll:hover {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
}

.removeAll:active {
  border: 1px solid red;
  background-color: lightgray;
}

.activeBtn {
  border: 2px solid red;
  border-radius: 5px;
  background-color: lightgray;
  outline: none;
}

.sleepBtn {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  background-color: #dcdcdc;
  outline: none;
}

.sleepBtn:hover {
  border: 1px solid lightsalmon;
  background-color: lightgray;
}

.textArea {
  display: inline-block;
  text-align: center;
  background-color: #dcdcdc;
  font-size: 25px;
}

.checkbox {
  opacity: 0;
}

.checkContainer {
  display: block;
  height: 25px;
  width: 25px;
  border: 1px solid gray;
  border-radius: 100%;
  margin: auto auto auto 10px;
  cursor: pointer;
}

.complete .markIcon {
  display: block;
}

.active .markIcon {
  display: none;
}

#allComp {
  opacity: 0;
}

.footer {
  height: 50px;
}

.selectAll {
  width: 115px;
  text-align: center;
  display: inline-block;
  margin: 15px 20px auto 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
}

.selectAll:hover {
  padding: 4px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  outline: none;
}

.selectAll:active {
  border: 1px solid red;
  background-color: lightgray;
}

.logoutBtn {
  text-align: right;
  margin: 5px 0 auto auto;
  height: 20px;
  width: 20px;
}

.header {
  margin-right: 30px;
  text-align: right;
  display: block;
  font-size: 20px;
  color: gray;
}

.chronology_true,
.chronology_false {
  display: inline-block;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: #dcdcdc;
  margin: 0 auto -10px 70px;
  outline: none;
  font-size: 20px;
  padding: 5px;
}

.upIcon,
.downIcon {
  color: black;
}

.chronology_true .downIcon {
  display: none;
}
.chronology_true .upIcon {
  display: block;
}
.chronology_false .downIcon {
  display: block;
}
.chronology_false .upIcon {
  display: none;
}
